:root{
  --color-primary:#2584ff;
  --color-secondary:#00d9ff;
  --color-accent:#ff3400;
  --color-headings: #1b0760;
  --color-body:#918ca4;
}
/*Topography*/
html{
  font-size: 62.5%;
}
h1,h2,h3{
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1{
  font-size: 7rem;
}
h3{
  font-size: 3rem;
}
p{
  margin-top: 0;
}
body{
font-family: "Inter", Arial, Helvetica, sans-serif;
color: var(--color-body);
font-size: 2.4rem;
line-height: 1.5;
}
/*links*/
a{
  text-decoration: none;
}
.link-arrow{
  color: var(--color-accent);
  font-size: 2rem;
  text-transform: uppercase;  font-weight: bold

}

.link-arrow::after{
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after{
  margin-left: 10px;

}
/*badges*/
.badge{
  font-weight: 600;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  color: white;
}
.badge-primary{
  background-color: var(--color-primary);


}
.badge-secondary{
  background-color: var(--color-secondary);
}
.badge-small{
  font-size: 1.6rem;
}
/*lists*/
.list{
  font-size: 2.4rem;
  list-style-type: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list-inline .list_item{
  display: inline-block;
  margin-right: 2rem;
}

.list-tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}
.list-tick .list_item{
  padding-left: 0.5rem;
  margin-bottom: 1rem;}
  /*icons*/
.icon{
    width: 5rem;
     height: 5rem;
  }
.icon-primery{
    fill: var(--color-primary);
   

  }
.icon-container{
    background-color:  #f3f9fa;
    display: inline-flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 6.4rem;
    height: 6.4rem;
    }
    /*buttons*/
    *,*::after,*::before{
      box-sizing: border-box;
    } /*ova e za a href da bide 100% width kako buttonite*/
.btn{
  color: white;
  font-size: 1.8rem;
  padding: 1rem 4vw;
  border: 0;
  border-radius: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 0.5rem 0;
  outline: 0;
}
.btn-secondary{
  background-color: var(--color-secondary);
  
}
.btn .btn-search{
  fill: white;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
 
}
.btn-accent{
  background-color: var(--color-accent);
}
.btn-border{
  background-color: white;
  border: 0.2rem solid var(--color-headings);
  color: var(--color-headings);
}
.btn-block{
  width: 100%;
  display: inline-block;
}
.btn-border:hover{
  background: var(--color-headings);
  color: white;
}
.btn-accent:hover{
  background-color: #fa491b;
}
.btn-secondary:hover{
  background-color:#4ae2fd ;}
/*input*/
.input{
  border: 0.1rem solid lightgray;
  width: 100vw;
  border-radius: 5rem;
  padding: 2rem 4rem;
  color: var(--color-headings);
  outline: 0;
  font-size: 2rem;
}
::placeholder{
  color:#cdcbd7; 
  
}
.input-group{
  padding: 0 1rem;
  display: flex;
  box-shadow: 0 0 30px 10px lightgray;
  border: 0;
  
}
.btn .input-button{
  width: 0;
  border: 0;
  border-radius: 5rem;
  flex-grow: 1;
  padding-left: 3rem;
  outline: 0;
}
.btn-input{
  width: auto;
  font-size: 1.5rem;
}
/*cards*/
.card{
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin: 5rem;
  box-shadow: 0 0 20px 10px lightgrey;
  overflow: hidden;
  
}
.card .list-tick{
  padding: 4rem;
  margin: 0;
  
}
.card .btn-border{
  margin:0 0 3.5rem 3.5rem;
  flex-grow: 1;
  width: 85%;

}

.card-header{
background-color: var(--color-secondary);
color: white;
padding: 3rem 3.5rem 1rem 3.5rem;

}
.card .card-primary{
    background-color: var(--color-primary);
  }
.card-header{
   position: relative;
 } 
.card-primary::before{
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 5%;

}
.card-primary .card-badge{
    background-color: #126de4;
    margin-left: 2rem;
    text-transform: uppercase;
    font-size: 1.6rem;}
.card .list-tick {
  font-weight: 500;
}    

.pbottom{
  margin-bottom: 0;
}
.big{
  font-size: 6rem;
  margin-bottom: 0;
}
.pbold{
  font-weight: 600;
  margin-bottom: 0;
}
.psmall{
  font-size: 2rem;
}
.card-badge{
  background-color: #02cdf1;
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  
}
 /*grid*/

.grid{
  display: grid;
}



.grid .grid--1x3{

  grid-template-rows: 1fr, 1fr, 1fr;
}


/*Topography*/
@media screen and (min-width:1024px){
  body{
    font-size: 1.8rem;
  }
  h1{
    font-size: 8rem;
  
  }
  h2{
    font-size: 4rem;}
  h3{
    font-size: 2.4rem;
  }
}
/*links*/
  @media screen and (min-width:1024px){
  .link-arrow{
    font-size: 1.5rem;
  }
}

/*badge*/
@media screen and (min-width:1024px){
  .badge{
    font-size: 1.5rem;
  }
  .badge-small{
    font-size: 1.2rem;
  }
}
/*list*/
@media screen and (min-width:1024px){
  .list_item{
    font-size: 1.6rem;
  }
}
/*buttons*/
@media screen and (min-width:1024px) {
  .btn{ font-size: 1.5rem;}
  
}
/*input*/
@media screen and (min-width:1024px) {
  .input{font-size: 1.5rem;}
}

@media screen and ( min-width:768px) {
  .grid--1x2{
    grid-template-columns: repeat(2, 1fr);
    }
  
}
@media screen and ( min-width:1024px) {
  .grid--1x3{
    grid-template-columns: 1fr 1fr 1fr;
    }
  
}