:root{
  --color-primary:#2584ff;
  --color-secondary:#00d9ff;
  --color-accent:#ff3400;
  --color-headings: #1b0760;
  --color-body:#918ca4;
}
/*Topography*/
html{
  font-size: 62.5%;
}
h1,h2,h3{
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1{
  font-size: 7rem;
}
h3{
  font-size: 3rem;
}
p{
  margin-top: 0;
}
body{
font-family: "Inter", Arial, Helvetica, sans-serif;
color: var(--color-body);
font-size: 2.4rem;
line-height: 1.5;
}
/*links*/
a{
  text-decoration: none;
}
.link-arrow{
  color: var(--color-accent);
  font-size: 2rem;
  text-transform: uppercase;  font-weight: bold

}

.link-arrow::after{
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after{
  margin-left: 10px;

}
/*badges*/
.badge{
  font-weight: 600;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  color: white;
}
.badge-primary{
  background-color: var(--color-primary);


}
.badge-secondary{
  background-color: var(--color-secondary);
}
.badge-small{
  font-size: 1.6rem;
}
/*lists*/
.list{
  font-size: 2.4rem;
  list-style-type: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list-inline .list_item{
  display: block;
  margin-right: 2rem;
}

.list-tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}
.list-tick .list_item{
  padding-left: 0.5rem;
  margin-bottom: 1rem;}

  /*icons*/
.icon{
    width: 5rem;
    height: 5rem;
  }
.icon-primery{
    fill: var(--color-primary);
  }
.icon-container{
    background-color:  #f3f9fa;
    display:inline-flex;  
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 6.4rem;
    height: 6.4rem;
    }

    /*buttons*/
    *,*::after,*::before{
      box-sizing: border-box;
    } /*ova e za a href da bide 100% width kako buttonite*/
.btn{
  color: white;
  font-size: 1.8rem;
  padding: 1rem 4vw;
  border: 0;
  border-radius: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 0.5rem 0;
  outline: 0;
}
.btn-secondary{
  background-color: var(--color-secondary);
  
}
.btn .btn-search{
  fill: white;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
 
}
.btn-accent{
  background-color: var(--color-accent);
}
.btn-border{
  background-color: white;
  border: 0.2rem solid var(--color-headings);
  color: var(--color-headings);
}
.btn-block{
  width: 100%;
  display: inline-block;
}
.btn-border:hover{
  background: var(--color-headings);
  color: white;
}
.btn-accent:hover{
  background-color: #fa491b;
}
.btn-secondary:hover{
  background-color:#4ae2fd ;}
/*input*/
.input{
  border: 0.1rem solid lightgray;
  width: 100vw;
  border-radius: 5rem;
  padding: 2rem 4rem;
  color: var(--color-headings);
  outline: 0;
  font-size: 2rem;
}
::placeholder{
  color:#cdcbd7; 
  
}
.input-group{
  padding: 0 1rem;
  display: flex;
  box-shadow: 0 0 30px 10px lightgray;
  border: 0;
  
}
.btn .input-button{
  width: 0;
  border: 0;
  border-radius: 5rem;
  flex-grow: 1;
  padding-left: 3rem;
  outline: 0;
}
.btn-input{
  width: auto;
  font-size: 1.5rem;
}
/*cards*/
.card{
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin: 5rem;
  box-shadow: 0 0 20px 10px lightgrey;
  overflow: hidden;
  
}
.card .list-tick{
  padding: 4rem;
  margin: 0;
  
}
.card .btn-border{
  margin:0 0 3.5rem 3.5rem;
  flex-grow: 1;
  width: 85%;

}

.card-header{
background-color: var(--color-secondary);
color: white;
padding: 3rem 3.5rem 1rem 3.5rem;

}
.card .card-primary{
    background-color: var(--color-primary);
  }
.card-header{
   position: relative;
 } 
.card-primary::before{
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 5%;

}
.card-primary .card-badge{
    background-color: #126de4;
    margin-left: 2rem;
    text-transform: uppercase;
    font-size: 1.6rem;}
.card .list-tick {
  font-weight: 500;
}    


.pbottom{
  margin-bottom: 0;
}
.big{
  font-size: 6rem;
  margin-bottom: 0;
}
.pbold{
  font-weight: 600;
  margin-bottom: 0;
}
.psmall{
  font-size: 2rem;
}
.card-badge{
  background-color: #02cdf1;
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  
}
 /*grid*/

.grid{
  display: grid;
}



.grid .grid--1x3{

  grid-template-rows: 1fr, 1fr, 1fr;
}



/*media object*/

.media{
  display: flex;
}
.media-title{
  margin-top: 0;
}
.media-image{
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 3rem;
 
}
.media-image .icon-primery{
  fill: #02cdf1;
}
/*quotes*/
.quotes-paragraph{
  font-style: italic;
  font-size: 3rem;
  color:#5c5577 ;
}
.author{
  color: var(--color-headings);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}
.company{
  font-size: 2rem;
}
.quotes-paragraph::before{
  content: open-quote;
}
.quotes-paragraph::after{
  content: close-quote;
}
.quote-icon{
  position: relative;
  bottom: 25px;
}
/*testimonials*/
.testimonials{
margin: 2.5rem;
box-shadow: 0 0 20px 10px lightgrey;
border-radius: 1rem;
}
.testimonials-image{
  width: 100%;
}
.testimonials-img{
  position: relative;
  padding: 3rem;
 
  
}
.testimonials-img  .icon-container-accent{
  position: absolute;
  top: 5rem;
  right: -2px;
  background-color: var(--color-accent);
  fill: white;
  padding:1.8rem;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
 
}
/*callout*/
.callout{
  background-color: var(--color-primary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  
}
.callout-text>h3,p{
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.callout-text>h3{
  margin-top: 0;
  font-size: 4rem;
}
.callout>button{
width: 60%;
align-self: center;
padding: 3rem;
font-size: 1.8rem;
}

/*collapsible*/
.collapsible{
  padding: 2rem;
}
.call-header{
  position: relative;
}

.chevron{
  position: absolute;
  right: 0;
  width: 6rem;
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.collapsible-header{
  font-size: 3rem;
  margin-top: 0;
  font-size: 2rem;
}
.collapsible-body{
  padding-top: 1.5rem;
  font-size:2.4rem;
  opacity: 0;
  max-height:0;
  overflow: hidden;
  transition: all 0.3s;
}
.collapsible--expanded .chevron {
  transform: rotate(0);
  width: 6rem;
} 
.collapsible--expanded .collapsible-body{
max-height: 100vh;
opacity: 40%;
}
/*navigation links*/

.navigationlist{
 background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navlist_item{
  padding: 0.5rem ;
  color: rgba(245, 245, 245, 0.712);
  border-bottom: 1px solid darkgrey;}

.navnav{
 margin: 0;
 width: 100%;}

.navicon{
  fill: rgba(245, 245, 245, 0.712);
}
.navlist_item> a{
  margin-top: 2rem;
  color:#d2cfd9;
  opacity: 0.9;
  }
  .navlist_item>a:hover{
    color: white;
    opacity: 1;
    transition: color 0.3s;

  }
  .navigationlist .collapsible{
    padding: 0;
  }
  .collapsible--expanded .navicon{
    padding: 0;
  fill: white;
  box-shadow: 0 0 0 3px #666;
  border-radius: 0.5rem;
  transition: box-shadow 0.15s;
  cursor: pointer;
  }
  .iconlogo{
    font-size: 3.6rem;
    font-weight: bold;
    color: white;
    position: relative;
    left: 8rem;
    top: 1rem;
    }
  .imglogo{
    width: 58px;
    position: absolute;
    top:-0.5rem;
    left :-8rem;
  }
  /*blocks*/
  .block--dark{
    padding: 6rem;
    color: white;
    background-color: black;
    clip-path: polygon(0 0, 100% 0%, 100% 67%, 0% 100%);
  }
  .block--dark .block__heading{
    color: white;
  }
  .block__paragraf-dark{
    font-size: 2rem;
    padding-bottom: 5rem;
    text-align: left;}

    .block--skewed-left{
      padding: 10rem 2rem;
      color: white;
      background-color: black;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 67%);;
    }
    .block--skewed-left .block__heading{
      color: white;}

    .block__paragraf-left{
      font-size: 2rem;
      padding-bottom: 5rem;
      text-align: left;}
      .block{
        padding: 8rem;
      }
    .block .block__header{
      text-align:center;
      
    }
   
      
    .block__paragraf{
      text-align: center;
      color: var(--color-body);
    }
    .block--dark-one{
      padding: 6rem;
      color: white;
      background-color: black;}
  .block--dark-one .block__heading{
        color: white;
      }
/*Topography*/
@media screen and (min-width:1024px){
  body{
    font-size: 1.8rem;
  }
  h1{
    font-size: 8rem;
  
  }
  h2{
    font-size: 4rem;}
  h3{
    font-size: 2.4rem;
  }
}
/*links*/
  @media screen and (min-width:1024px){
  .link-arrow{
    font-size: 1.5rem;
  }
}

/*badge*/
@media screen and (min-width:1024px){
  .badge{
    font-size: 1.5rem;
  }
  .badge-small{
    font-size: 1.2rem;
  }
}
/*list*/
@media screen and (min-width:1024px){
  .list_item{
    font-size: 1.6rem;
  }
}
/*buttons*/
@media screen and (min-width:1024px) {
  .btn{ font-size: 1.5rem;}
  
}
/*input*/
@media screen and (min-width:1024px) {
  .input{font-size: 1.5rem;}
}

@media screen and ( min-width:768px) {
  .grid--1x2{
    grid-template-columns: repeat(2, 1fr);
    }
  
}
@media screen and ( min-width:1024px) {
  .grid--1x3{
    grid-template-columns: 1fr 1fr 1fr;
    }
  
}
/*testimonials*/
@media screen and (min-width:1024px) {
  .quotes-paragraph{
    font-size: 2.4rem;
    
  }
  .testimonials-img{
    justify-self: left;
  }
  .quotes{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: left;
    margin-left: 0;
  }
  .author{
    font-size: 2.4rem;
  }
  .company{
    font-size: 1.6rem;
  }

}
@media screen and (min-width:768px){
  .quotes-paragraph{
    font-size: 2rem;}

    .author{
      font-size: 2rem;
    }
    .company{
      font-size: 1.6rem;}
   .quotes{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: left;
        margin-left: 0;}
  }
  /*callout*/
  @media screen and (min-width:1024px){
    .callout{
      flex-direction: row;
  }
  .callout-text>h3,p{
    align-self: left;
    text-align: left;
  }
  .callout-text>h3{
    justify-content:flex-start ;
    margin-top: 0;
  }
  .callout-text>p{
  
    font-size: 2rem;}

  .callout>button{
  
  align-self: center;
  padding: 2.5rem 3rem;
  font-size: 1.8rem;
  margin-left: 6rem;
  }
}

/*collapsible*/
@media screen and (min-width:1024px){

.chevron{
  display: none;

}
.collapsible-header{
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
}
.collapsible-body{
  font-size:1.5rem;}
}
/*Navigation lists*/
@media screen and (min-width:768px){
 .navlist_item{
 border: none;
 padding: 0 2rem;

   }
 
 .navnav{
   width: auto;
   display: flex;
   margin: 0;
   font-size: 1.6rem;
   opacity: 1;
  }
  .iconlogo{
    font-size: 3rem;
  }
 .navicon{
   display: none;
 }
}