<div class="card">
  <div class="card-header">
    <header>
      <p class="pbold">Entry</p>
      <p class="pbottom">
        <span class="big">&#36;14</span> &#47;month<span
          class="badge badge-secondary card-badge"
          >10% off</span
        >
      </p>

      <p class="psmall">Easy start on the cloud</p>
    </header>
  </div>
  <ul class="list list-tick">
    <li class="list_item">Unlimited Websites</li>
    <li class="list_item">Unlimited Bandwidth</li>
    <li class="list_item">100 GB SSD Storage</li>
    <li class="list_item">3 GB RAM</li>
  </ul>
  <button class="btn btn-border btn-block">Buy Now</button>
</div>
<div class="card">
  <div class="card-header card-primary">
    <header>
      <p class="pbold">Business</p>
      <p class="pbottom">
        <span class="big">&#36;24</span> &#47;month<span
          class="badge badge-secondary card-badge"
          >20% off</span
        >
      </p>

      <p class="psmall">Optimal Cloud Experience</p>
    </header>
  </div>
  <ul class="list list-tick">
    <li class="list_item">Unlimited Websites</li>
    <li class="list_item">Unlimited Bandwidth</li>
    <li class="list_item">100 GB SSD Storage</li>
    <li class="list_item">3 GB RAM</li>
    <li class="list_item">2 CPU Cores</li>
  </ul>
  <button class="btn btn-border btn-block">Buy Now</button>
</div>
<div class="card">
  <div class="card-header">
    <header>
      <p class="pbold">Buiness plus</p>
      <p class="pbottom">
        <span class="big">&#36;54</span> &#47;month<span
          class="badge badge-secondary card-badge"
          >10% off</span
        >
      </p>

      <p class="psmall">Easy start on the cloud</p>
    </header>
  </div>
  <ul class="list list-tick">
    <li class="list_item">Unlimited Websites</li>
    <li class="list_item">Unlimited Bandwidth</li>
    <li class="list_item">100 GB SSD Storage</li>
    <li class="list_item">3 GB RAM</li>
    <li class="list_item">2 CPU Cores</li>
  </ul>
  <button class="btn btn-border btn-block">Buy Now</button>
</div>
