<div class="collapsible collapsible--expanded">
  <header class="coll-header">
    <img class="chevron" src="/images/chevron.svg" alt="" />
    <h2 class="collapsible-header">PRODUCTS</h2>
  </header>
  <div class="collapsible-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque
    accusantium quod laboriosam quibusdam magni ratione nostrum, nam dolorum?
    Accusantium itaque a eos necessitatibus distinctio atque fuga laboriosam
    quia sapiente.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="coll-header">
    <img class="chevron" src="/images/chevron.svg" alt="" />
    <h2 class="collapsible-header">PRODUCTS</h2>
  </header>
  <div class="collapsible-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque
    accusantium quod laboriosam quibusdam magni ratione nostrum, nam dolorum?
    Accusantium itaque a eos necessitatibus distinctio atque fuga laboriosam
    quia sapiente.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="coll-header">
    <img class="chevron" src="/images/chevron.svg" alt="" />
    <h2 class="collapsible-header">PRODUCTS</h2>
  </header>
  <div class="collapsible-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque
    accusantium quod laboriosam quibusdam magni ratione nostrum, nam dolorum?
    Accusantium itaque a eos necessitatibus distinctio atque fuga laboriosam
    quia sapiente.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="coll-header">
    <img class="chevron" src="/images/chevron.svg" alt="" />
    <h2 class="collapsible-header">PRODUCTS</h2>
  </header>
  <div class="collapsible-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque
    accusantium quod laboriosam quibusdam magni ratione nostrum, nam dolorum?
    Accusantium itaque a eos necessitatibus distinctio atque fuga laboriosam
    quia sapiente.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="coll-header">
    <img class="chevron" src="/images/chevron.svg" alt="" />
    <h2 class="collapsible-header">PRODUCTS</h2>
  </header>
  <div class="collapsible-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque
    accusantium quod laboriosam quibusdam magni ratione nostrum, nam dolorum?
    Accusantium itaque a eos necessitatibus distinctio atque fuga laboriosam
    quia sapiente.
  </div>
</div>
<script src="components/js/main.js"></script>
