<nav class="navigationlist collapsible collapsible--expanded">
    <a href="/" class="iconlogo"
      ><img class="imglogo" src="/images/faviconn-md.png" alt="" />Moshify</a
    >

    <svg class="icon navicon">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list navnav collapsible-body">
      <li class="navlist_item"><a href="#">Hosting</a></li>
      <li class="navlist_item"><a href="#">VPS</a></li>
      <li class="navlist_item"><a href="#">Domain</a></li>
      <li class="navlist_item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
 
    <section class="block block--dark">
      <div class="container grid grid--1x2">
        <div class="hero__content">
      <header class="block__header">
        <h1 class="block__heading">Cloud Hosting for Pros</h1>
        <p class="block__paragraf-dark">
          Deploy your website in less than 60 seconds
        </p>
        <button class="btn btn-accent btn-block btn-block-hero">Get Started</button>
      </div>
        <img
          class="logopicture"
          src="/images/banner.png"
          alt="logo picture"
        />
      </header>
    </section>
  </div>
  <script src="components/js/main.js"></script>