<nav class="navigationlist collapsible collapsible--expanded">
  <a href="/" class="iconlogo"
    ><img class="imglogo" src="/images/faviconn-md.png" alt="" />Moshify</a
  >
  <svg class="icon navicon">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list navnav collapsible-body">
    <li class="navlist_item"><a href="#">Hosting</a></li>
    <li class="navlist_item"><a href="#">VPS</a></li>
    <li class="navlist_item"><a href="#">Domain</a></li>
    <li class="navlist_item"><a href="#">Pricing</a></li>
  </ul>
</nav>
<script src="components/js/main.js"></script>
